---
permalink: /js/main.js
eleventyExcludeFromCollections: true
---
{% set js %}
{% include '../_includes/js/sparkle.js' %}
{% include '../_includes/js/sign-up.js' %}
{% include '../_includes/js/bee.js' %}
{% include '../_includes/js/console.js' %}
{% endset %}
{{ js | jsmin | safe }}