---
layout: layouts/base.njk
title: "✍️ Writing"
description: A collection of writing by me.
tag: all
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

{% include "components/post-list.njk" %}