.author {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.author img {
  width: 100%;
}

.author--name {
  width: auto;
  display: flex;
  align-items: center;
  width: ;
  font-weight: var(--font-weight-med);
}

.author--name .author {
  margin-right: var(--spacing-base);
}
