.author {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.author img {
  width: 100%;
}

.author--name {
  width: auto;
  display: flex;
  align-items: center;
  margin-right: var(--spacing-lg);
  font-weight: var(--font-weight-med);
}

.author--name .author {
  margin-right: var(--spacing-md);
}
