<footer>
    <div class="container">
        <div class="footer__link">
            <label>© 2020</label>
            <div class="footer__links">
                <a href="/">dev-warner.io</a>
            </div>
        </div>
        <div class="footer__link">
            <label>social</label>
            <div class="footer__links">
                <a href="/feed.xml">rss</a>
                <span class="seperator"></span>
                <a href="https://twitter.com/dev_warner" target="_blank" rel="me noopener noreferrer">twitter</a>
                <span class="seperator"></span>
                <a href="https://github.com/dev-warner" target="_blank" rel="noopener noreferrer">github</a>
                <span class="seperator"></span>
                <a href="https://stackoverflow.com/story/dev-warner" target="_blank" rel="noopener noreferrer">stackoverflow</a>
            </div>
        </div>
    </div>
</footer>