<footer>
    <div class="container">
        <div class="footer__link">
            <label>© 2020</label>
            <div class="footer__links">
                <a href="/">dev-warner.io</a>
            </div>
        </div>
        <div class="footer__link">
            <label>social</label>
            <div class="footer__links">
                <a href="/feed.xml" class="icon-rss" aria-label="rss feed"></a>
                <span class="seperator"></span>
                <a href="https://twitter.com/dev_warner" aria-label="twitter" class="icon-twitter" target="_blank" rel="me noopener noreferrer"></a>
                <span class="seperator"></span>
                <a href="https://github.com/dev-warner" aria-label="github" class="icon-github" target="_blank" rel="noopener noreferrer"></a>
                <span class="seperator"></span>
                <a href="https://stackoverflow.com/story/dev-warner" aria-label="stackoverflow" class="icon-stackoverflow" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
</footer>