<header class="navigation__container">
  <nav class="navigation__links">
    <a class="navigation__link" href="/">01. 🏠 Home</a>
    <a class="navigation__link" href="/writing">02. ✍️ Writing</a>
    <a class="navigation__link" href="/likes">03. 💕 Likes</a>
  </nav>
  <theme-switcher></theme-switcher>
</header>