<div class="webmentions__likes">
    {% include 'components/webmentions_count.njk' %}
    {%- for like in webmention['likes'] | head(4) %}
        {% author like.author %}
    {%- endfor %}
    {% if webmention['likes'].length > 4 %}
        <span>+{{ webmention['likes'].length - 4 }}</span>
    {% endif %}
</div>