---
layout: layouts/base.njk
pagination:
  addAllPagesToCollections: true
  data: collections
  size: 1
  alias: tag
  filter:
    - post
    - all
permalink: /tag/{{ tag }}/
---

{% set title = tag %}
{% set posts = collections[tag] %}

{% include "components/post-list.njk" %}