---
layout: layouts/base.njk
title: "Front End Software Engineer Blog 🚀"
description: "I try to write code and explain what's going on. I'm constantly trying to get better at what I do and help the community grow."
---

{% set posts = collections.post | head(-3) | reverse %}

<section class="content home">
    <section class="about-me md">
        {{ content | safe }}
    </section>
    {% include 'components/sign-up.njk'%}
    {% include 'components/recent-posts.njk' %}
</section>