---
layout: layouts/base.njk
description: {{ description }}
social: "/assets/{{title | slug}}.png"
permalink: "/writing/{{title | slug}}/index.html"
---

<section class="content post md">
    <h1>{{ title }}</h1>

    <div class="post__prefix">
        {% author %}
        <span class="seperator"></span>
        <time>
            {% readingTime content %}
        </time>
    </div>

    {{ content | safe }}
</section>

<section class="content-width post__info">
    {% include 'components/post-meta.njk' %}
    {% include 'components/likes.njk' %}
    {% include 'components/replies.njk' %}
</section>