---
layout: layouts/base.njk
title: "✍️ Writing"
description: A collection of writing by Joe Warner.
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<section class="content writing">
  <h2>{{ title }}</h2>
  {{ content | safe }}
  {% include "components/post-list.njk" %}
</section>